.App {

    background-color: black;
  } 


.logo{
    width: auto;
    // background-image: url('E:\Users\dchec\Javascript\session11movies\src\assets\images\totallynotnetflix.png');
    
}


.prettify {
  position: absolute;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  word-wrap: break-word;
  bottom: 8px;
  
  
}
.navbar-brand {
  height: 100px;
}
.navbar-brand>img {
  padding: 7px 14px;
}

span {
  background: rgb(0,0,0);
  opacity: 0.75;
}
.posterimage {
 max-width: 350px;

 

}
.image {
  position: relative;
  margin: 0;
  max-height: 525px;
}
.containmovie {
  margin-left: 0;
  margin-top: 115px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}